/* Page.module.css */

:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --background-dark: #2a3148;
  --text-dark: #ffffff;
  --border-color: #8f9199;
}

.containerGeral {
  max-height: 100vh;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.containerBody {
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.containerSidebar {
  height: max-content;
}

.containerContent {
  background: var(--container-content-background-light);
  color: var(--container-content-text-light);
  flex: 1;
  border-left: 1px solid var(--border-color);
}

.containerFooter {
  flex-shrink: 0;
}
