.containerGeral {
    max-height: 100vh;
    overflow: hidden;
}

.containerBody {
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.containerSidebar {
    height: max-content;
}

.containerContent {
    background: #2a3148;
    flex: 1;
    border-left: 1px solid #8f9199;
}

.containerFooter {
    flex-shrink: 0;
}