.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background: #2a3148;
    border-bottom: 1px solid #8f9199;
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.headerDiv img {
    max-height: 75%;
}